.second-section {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

.second-section h2{
    text-align: center;
    font-size: clamp(20px, 4vw, 45px);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 400px;
    width: calc(33.33% - 40px); 
    max-width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    padding: 20px;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.card h3 {
    text-align: center;
    font-size: clamp(12px, 4vw, 25px);
    margin-bottom: 10px;
}

.card p {
    font-size: clamp(3px, 4vw, 20px);
    line-height: 1.5;
    text-overflow: ellipsis;
}

.card a {
    
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}