body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: rgb(255, 255, 255);
    color: #fff;
    padding: 23px; 
    text-align: center; 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-left: 5em; /* Espacio entre elementos */
}
nav ul li:first-child {
    margin-left: 0; /* Eliminar espacio izquierdo del primer elemento */
}
nav ul li a {
    color: #000000; /* Color del enlace */
    text-decoration: none; /* Quitar subrayado del enlace */
    position: relative; /* Establecer posición relativa */
    font-size: 20px;
}
nav ul li a::before {
    content: ''; /* Contenido pseudo-elemento */
    position: absolute; /* Establecer posición absoluta */
    bottom: -2px; /* Desplazar hacia abajo */
    left: 0; /* Alinear a la izquierda */
    width: 100%; /* Ancho del pseudo-elemento */
    height: 2px; /* Altura del pseudo-elemento */
    background-color: #000000; /* Color del pseudo-elemento */
    transform: scaleX(0); /* Escalar en el eje X (inicialmente invisible) */
    transition: transform 0.3s ease; /* Transición suave */
}
nav ul li a:hover::before {
    transform: scaleX(1); /* Escalar en el eje X (visible al pasar el cursor) */
}

